.env
# package directories
node_modules
layers/nodejs/node_modules


# Serverless directories
.serverless

# esbuild directories
.esbuild
.vscode
.build

layers/nodejs

# yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

layers