.env
# package directories
node_modules
layers/nodejs/node_modules


# Serverless directories
.serverless

# esbuild directories
.esbuild
.vscode
.build

# yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

layers/**/nodejs/node_modules
layers/**/*.zip
layers/**/*.tar.gz
secrets.json
S3TmpBucket/

terraform1
